## SPDX-License-Identifier: GPL-2.0-only

# This device has been 'autoport'-ed, proceed with caution

if VENDOR_RANDOTECH

choice
	prompt "Mainboard model"

source "src/mainboard/randotech/*/Kconfig.name"

endchoice

source "src/mainboard/randotech/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "R&O Industrial Technology Co., Limited"

endif # VENDOR_RANDOTECH
